html, :root {
  background-color: #1e395f;
  margin: 0;
  padding: 0;
  height: 100%;
  
}



.MuiImageListItem-item {
  width: 400px;
  
  margin-left: 45px;
}

.MuiImageListItem-root {
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  
}

.MuiImageList-root {
  padding: 0;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(84, 122, 206);
  border-radius: 10px;
}

.MuiGrid-spacing-xs-2 {
  justify-content: center;
}

.MuiListItem-gutters {
  text-align: center;
  padding: 0;
  background-color: #d0dae8;
}

.kart {
  display: flex;
  text-align: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.MuiImageListItem-imgFullHeight {
  width: 800px;
}

.homeContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  overflow: hidden;
}

.imggg {
  height: 100%;
  width: 100%;
  
}

.fadeee {
  animation: fadein 8s;
    -moz-animation: fadein 8s; 
    -webkit-animation: fadein 8s; 
    -o-animation: fadein 8s; 
}

@keyframes fadein {
  0% { opacity: 0; }
  30% { opacity: 1; }
  85% { opacity: 1;}
  100% { opacity: 0; }
}

.fadee {
  animation: fadein 8s;
    -moz-animation: fadein 8s; 
    -webkit-animation: fadein 8s; 
    -o-animation: fadein 8s; 

    
}

.total {
  width: '100%';
      max-Width: 600px;
      background-Color: #d0dae8;
      padding: 0;
      margin-left: 34.25%;
      text-align: center;
      font-size: 30px;
}

.menuLinks {
  text-decoration: none;
  color: white;
}

.homeLink {
  color: white;
  text-decoration: none;
  align-content: center;
}

.MuiImageListItem-item {
  width: 100%;
}

.MuiImageListItem-root {
  align-content: center ;
  margin-bottom: 0;
}

.MuiImageListItem-item {
  justify-content: center ;
  align-items: center ;
  width: 700px;
}

.cpuImg {
  justify-content: center;
  align-items: center;
  align-content: center;
}



.MuiCard-root {
  height: 320px !important;
  
}

.learnMore {
  align-self: right;
  margin-left: auto;
}

.MuiAppBar-colorPrimary {
  background-color: #274a7c !important;
}

.links {
  color: white !important;
  background-color: black;
  text-decoration: none;
}

.MuiDialogTitle-root {
  text-align: center;
}

.MuiListItemText-primary {
  font-size: 20px !important;
}

.MuiListItemText-secondary {
  font-size: 18px !important;
}

.sadImg {
  height:auto;
  width: 300px;
}

.hIcon {
  margin-top: 8px;
}

.MuiListSubheader-root {
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.MuiGridListTileBar-title {
  font-size: 26px !important;
  
}








