html,
:root {
  background-color: #1e395f;
  margin: 0;
  padding: 0;
  height: 100%;
}

.MuiImageListItem-item {
  width: 400px;

  margin-left: 45px;
}

.MuiImageListItem-root {
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.MuiImageList-root {
  padding: 0;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(84, 122, 206);
  border-radius: 10px;
}

.MuiGrid-spacing-xs-2 {
  justify-content: center;
}

.MuiListItem-gutters {
  text-align: center;
  padding: 0;
  background-color: #d0dae8;
}

.kart {
  display: flex;
  text-align: center;
  justify-content: center;
}

.totalWrap {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.userKart {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.MuiImageListItem-imgFullHeight {
  width: 800px;
}

.homeContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  overflow: hidden;
}

.imggg {
  height: 100%;
  width: 100%;
}

.fadeee {
  animation: fadein 8s;
  -moz-animation: fadein 8s;
  -webkit-animation: fadein 8s;
  -o-animation: fadein 8s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadee {
  animation: fadein 8s;
  -moz-animation: fadein 8s;
  -webkit-animation: fadein 8s;
  -o-animation: fadein 8s;
}

.total {
  width: 100%;
  max-width: 600px;
  background-color: #d0dae8;
  padding: 0;

  text-align: center;
  font-size: 30px;
}

.menuLinks {
  text-decoration: none;
  color: white;
}

.homeLink {
  color: white;
  text-decoration: none;
  align-content: center;
}

.MuiImageListItem-item {
  width: 100%;
}

.MuiImageListItem-root {
  align-content: center;
  margin-bottom: 0;
}

.MuiImageListItem-item {
  justify-content: center;
  align-items: center;
  width: 700px;
}

.cpuImg {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.MuiCard-root {
  height: 320px;
}

.learnMore {
  align-self: right;
  margin-left: auto;
}

.MuiAppBar-colorPrimary {
  background-color: #274a7c !important;
}

.links {
  color: white !important;
  background-color: black;
  text-decoration: none;
}

.MuiDialogTitle-root {
  text-align: center;
}

.MuiListItemText-primary {
  font-size: 20px !important;
}

.MuiListItemText-secondary {
  font-size: 18px !important;
}

.sadImg {
  height: auto;
  width: 300px;
}

.hIcon {
  margin-top: 8px;
}

.MuiListSubheader-root {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.MuiGridListTileBar-title {
  font-size: 26px !important;
}

.createImg {
  transition: none;
  margin-top: -10px;
  background-color: cornflowerblue;
}

@media (max-width: 480px) {
  .siteName {
    font-size: 30px;
    font-weight: 700 !important;
  }

  .itemBody {
    width: 100% !important;
  }

  .itemText {
    display: none;
  }

  .learnMore {
    margin-left: 0 !important;
  }

  .itemTitle {
    border-bottom: 1px solid black;
  }

  .pageTitle {
    width: 300px !important;
    margin-left: 0 !important;
  }

  html,
  body {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

  .emptyCart {
    display: flex;
    flex-direction: column;
    margin-left: 30px !important;
    height: 100% !important;
    align-items: center !important;
  }

  .popupImg {
    width: 100% !important;
  }

  .userEmail {
    font-size: 30px !important;
  }

  .cartImg {
    width: 100px !important;
    height: 75px !important;
  }

  .cartButton {
    height: 50px !important;
    width: 50px !important;
    font-size: 10px !important;
  }

  .homeContainer {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    align-content: center !important;
    justify-content: center !important;
    height: 800px !important;
    margin-top: -90px !important;
  }

  .homeCard {
    height: 200px !important;
    width: 100% !important;
    padding: 18px !important;
  }

  .gridList {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    flex: 1 1 33% !important;
    z-index: 100 !important;
    width: 100% !important;
  }

  .imgg {
    width: 100% !important;
    height: 100% !important;
  }

  .menuLinks {
    position: relative;
    z-index: 300 !important;
  }

  .tester {
    z-index: 300 !important;
  }
}

.siteName {
  font-size: 10px;
}

.MuiCardActions-root {
  margin-top: auto !important;
}

.actionsContainer {
  display: flex;
  flex-direction: row;
}

.actions {
  display: flex;

  height: 48px;
  margin-left: auto;
}

.learnMore {
  margin-left: 50px;
}

.dropdown {
  z-index: 100 !important;
}
